/*-----Global Styling -----*/

/*
#D64C02;
#4e4350
#ededed;
#ddd
#ccc
#bbb
#aaa
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

*:focus{
  outline:none;
}

/*----General Structure Styling -----*/
body{
  display: flex;
  flex-wrap: wrap;
  background-color: #ededed;
  color: #4e4350;
  width: 100%;
}

/*----General Text/Interaction Styling -------*/

h1{
  font-size: 18px;
  font-weight: 300;
}

p{
  font-size: 12px;
}

a{
  color: #4e4350;
  text-decoration: none;
  font-size: 12px;
}

a:hover{
  color: #4e4350;
  text-decoration:none;
  border-bottom: 2px solid #D64C02;
  padding-bottom: 10px;
}

span{
  font-size: 15px;
  margin-right: 5px;
  color: #6ba302;
  vertical-align: baseline;
}

input{
  background-color: #ededed;
  font-size: .85em;
  width: 80%;
  height: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  border-style: none;
}

button{
  background-color: #ededed;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
  border-radius: 20px;
  font-size: 10px;
  vertical-align: center;
}

/*------Left Nav------*/
.sidenav{
  display: flex;
  width: 20%;
  max-width: 250px;
  height: 1000px;
  background-color: red;
  border: 1px solid #550055;
}

/*------Main Wrapper------*/
.body-content{
  display: flex;
  flex-direction: column;
  /*height: 1000px;*/
  width: 80%;
  background-color: blue;
  border: 1px solid #ff2233;
}

/*------Top Content------*/
.top{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
  background-color: #ededed;
  border: 1px solid #2255ff;
}

/*-----**-Top Nav------*/
/*Structural Styling*/
.topnav{
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #ededed;
  border-bottom: 1px solid #ddd;
}

.square{
  text-align: center;
  align-content: center;
  justify-content: center;
  vertical-align: center;
  flex: 1;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.search{
  text-align: center;
  align-content: center;
  justify-content: center;
  flex: 5;
  vertical-align: center;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.search img{
  vertical-align: text-bottom;
  width: 20px;
}

.top-icons{
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  padding: 0;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;

}
/*Individual Button Styling*/
#hamburger{
  background-image: url("images/hamburger.svg");
}

#hamburger:hover{
  background-color: #D64C02;
  background-image: url("images/hamburger-hover.svg");
}

#users{
  background-image: url("images/user-plus.svg");
}

#users:hover{
  background-color: #D64C02;
  background-image: url("images/user-plus-hover.svg");
}

#calendar{
  background-image: url("images/calendar-plus.svg");
}

#calendar:hover{
  background-color: #D64C02;
  background-image: url("images/calendar-plus-hover.svg");
}

#grid{
  background-image: url("images/grid.svg");
}

#grid:hover{
  background-color: #D64C02;
  background-image: url("images/grid-hover.svg");
}


/*-----**-Heading------*/
.heading{
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #ededed;
  justify-content: space-between;
}

/*General Heading Structure Styling*/
.details{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 0px;
}
.details h1 p{
  display: inline-block;
  margin-left: 15px;
}

.details h1{
  font-size: 24px;
  margin-bottom: 2px;
  margin-top: 35px;
}

.details p{
  font-size: 18px;
  margin-top: 5px;
}

.details a{
  font-size: 18px;
  display: inline;
}

.buttons-box{
  display: flex;
  margin-top: 50px;
  margin-right: 30px;
}

.buttons-box button{
  margin-left: 5px;
  margin-right: 5px;
}

.btn-icons{
  width: 30px;
  height: 30px;
  padding: 0px;
  text-align: center;
  vertical-align: bottom;
}

#edit, #bookmark, #trash{
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}
#edit{
  background-image: url("images/edit.svg");
}

#edit:hover{
  background-image: url("images/edit-hover.svg");
}

#bookmark{
  background-image: url("images/bookmark.svg");
}

#bookmark:hover{
  background-image: url("images/bookmark-hover.svg");
}

#trash{
  background-image: url("images/trash.svg");
}
#trash:hover{
  background-image: url("images/trash-hover.svg");
}

#location{
  width: 15px;
  fill: #4e4350;
}

#open{
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  font-size: 12px;
}

/*--------Middle Nav-------*/
.middle-nav{
  display: flex;
  width: 100%;
  background-color: #ededed;
  margin-bottom: 30px;
}

.scroll-nav{
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  display: block;
  height: 30px;
  align-items: center;
  vertical-align: center;
}

.middle-nav ul{
  padding: 0;
  list-style: none;
}

.middle-nav li{
  margin-right: 30px;
  text-decoration: none;
  display: inline-block;
}

.middle-nav li:first-child{
  margin-left: 25px;
}

.middle-nav li a{
  font-size: 13px;
}

#current{
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
  color: #4e4350;
  text-decoration:none;
  border-bottom: 2px solid #D64C02;
}

#left-arrow, #right-arrow{
  display: none;
  background-size: cover;
  padding: 0;
  height: 22px;
  width: 22px;
  border-style: none;
  border-width: none;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;;
}

#left-arrow{
  background-image: url("images/left-arrow.svg");
  background-size: cover;
  margin-right: 30px;
}

#left-arrow:hover{
  background-image: url("images/left-arrow-hover.svg");
}

#right-arrow{
  background-image: url("images/right-arrow.svg");
  margin-left: 30px;
}

#right-arrow:hover{
  background-image: url("images/right-arrow-hover.svg");
}



/*-----**-Graphs------*/
.graphs{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  background-color: magenta;
  border: 1px solid #7711ff;
}

/*-----***-Circles------*/
.circles{
  display: flex;
  height: 200px;
  width: 50%;
  background-color: cyan;
  border: 1px solid #9900ff;
}

/*-----***-Bar Graphs------*/
.bar-graph{
  display: flex;
  height: 200px;
  width: 50%;
  background-color: blanchedalmond;
  border: 1px solid #ff00ff;
}

/*-----**-bottom-Info------*/
.bottom-info{
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 100%;
  background-color: aquamarine;
  border: 1px solid #004422;
}

/*-----***-job-info------*/
.job-info{
  display: flex;
  width: 66.666666%;
  height: 600px;
  background-color: goldenrod;
  border: 1px solid #550022
}

/*-----***Contact------*/

.contact{
  display: flex;
  width: 33.33333%;
  height: 600px;
  background-color: pink;
  border: 1px solid #550022
}
