/*-----Global Styling -----*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

*:focus{
  outline:none;
}

/*----General Structure Styling -----*/
body{
  background-color: #ededed;
  color: #4e4350;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*----General Text/Interaction Styling -------*/

h1{
  font-size: 18px;
  font-weight: 300;
}

p{
  font-size: 12px;
}

a{
  color: #4e4350;
  font-size: 12px;
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid #D64C02;
  color: #4e4350;
  padding-bottom: 10px;
  text-decoration:none;
}

span{
  color: #6ba302;
  font-size: 15px;
  margin-right: 5px;
  vertical-align: baseline;
}

hr{
  border-style: solid;
  color: #bbb;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
}

input{
  background-color: #ededed;
  border-style: none;
  font-size: .85em;
  height: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0px;
  width: 80%;

}

button{
  background-color: #ededed;
  border-color: #aaa;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
  vertical-align: center;
}

/*------Left Nav------*/
.sidenav{
  background-color: #4e4350;
  color: #ddd;
  height: auto;
  display: block;
  max-width: 350px;
  width: 20%;
}


/*----Left Nav content styling-----*/

.profile{
  border: none;
  border-radius: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
}

.sidenav hr{
  border-style: solid;
  color: #3d3240;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.sidenav ul{
  list-style: none;
  margin-top: 5px;
  padding-left: 0px;
}

.sidenav li{
  font-size: 13px;
  padding: 10px 0px 10px 30px;
}

.sidenav li:hover{
  background-color: #3d3240;
}

.side-icon{
  margin-right: 5px;
  width: 20px;
  vertical-align: text-bottom;
}

.sidenav h3{
  font-size: 16px;
  margin-bottom: 25px;
  text-align: center;
}

h4{
  color: #999;
  margin-bottom: 0px;
  margin-left: 20px;
}

.box{
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px;
  vertical-align: bottom;
}

#box1{
  background-color:#a3021a;
}

#box2{
  background-color:#026ba3;
}

#box3{
  background-color:#6ba302;
}

#box4{
  background-color: #D64C02;
}


/*------Main Wrapper------*/
.body-content{
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  width: 80%;
}

/*------Top Content------*/
.top{
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

/*-----**-Top Nav------*/
/*Structural Styling*/
.topnav{
  background-color: #ededed;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 65px;
  width: 100%;
}

.topnav button{
  border: none;
  border-bottom: 1px solid #ddd;
}

.square{
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 1;
}

.search{
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 6;
  text-align: center;
  vertical-align: center;
}
.search img{
  vertical-align: text-bottom;
  width: 20px;
}

.top-icons{
  background-color: #ededed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  border-top: 1px solid #ddd;
  border-radius: 0px;
  border-right: 1px solid #ddd;
  height: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#find{
  display: none;
}

.topinput{
  background-color: #ededed;
  border-style: none;
  display: inline-block;
  font-size: 1em;
  height: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0px;
  width: 80%;

}

/*Individual Button Styling*/
#hamburger{
  background-image: url("images/hamburger.svg");
}

#hamburger:hover{
  background-color: #D64C02;
  background-image: url("images/hamburger-hover.svg");
}

#users{
  background-image: url("images/user-plus.svg");
}

#users:hover{
  background-color: #D64C02;
  background-image: url("images/user-plus-hover.svg");
}

#calendar{
  background-image: url("images/calendar-plus.svg");
}

#calendar:hover{
  background-color: #D64C02;
  background-image: url("images/calendar-plus-hover.svg");
}

#grid{
  background-image: url("images/grid.svg");
}

#grid:hover{
  background-color: #D64C02;
  background-image: url("images/grid-hover.svg");
}


/*-----**-Heading------*/
.heading{
  background-color: #ededed;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

/*General Heading Structure Styling*/
.details{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 0px;
}

.details h1 p{
  display: inline-block;
  margin-left: 15px;
}

.details h1{
  font-size: 24px;
  margin-bottom: 2px;
  margin-top: 35px;
}

.details p{
  font-size: 18px;
  margin-top: 5px;
}

.details a{
  color: #D64C02;
  display: inline;
  font-size: 18px;
}

.details a:hover{
  border-bottom: none;
  text-decoration:underline;;
}

.buttons-box{
  display: flex;
  margin-right: 30px;
  margin-top: 50px;
}

.buttons-box button{
  margin-left: 5px;
  margin-right: 5px;
}

.btn-icons{
  height: 30px;
  width: 30px;
  padding: 0px;
  text-align: center;
  vertical-align: bottom;
}

#edit, #bookmark, #trash{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}

#edit{
  background-image: url("images/edit.svg");
}

#edit:hover{
  background-image: url("images/edit-hover.svg");
}

#bookmark{
  background-image: url("images/bookmark.svg");
}

#bookmark:hover{
  background-image: url("images/bookmark-hover.svg");
}

#trash{
  background-image: url("images/trash.svg");
}
#trash:hover{
  background-image: url("images/trash-hover.svg");
}

#location{
  width: 15px;
}

#open{
  font-size: 12px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

/*--------Middle Nav-------*/
.middle-nav{
  background-color: #ededed;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

.scroll-nav{
  align-items: center;
  display: block;
  font-size: 15px;
  height: auto;
  margin-top: 15px;
  text-align: center;
  vertical-align: center;
}

.middle-nav ul{
  list-style: none;
  padding: 0;
}

.middle-nav li{
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}

.middle-nav li:first-child{
  margin-left: 25px;
}

.middle-nav li:last-child{
  margin-right: 0px;
}

.middle-nav li a{
  font-size: 13px;
}

#current{
  border-bottom: 2px solid #D64C02;
  color: #4e4350;
  font-weight: 700;
  padding-bottom: 15px;
  font-size: 13px;
  text-decoration:none;
}

#current-mobile{
  display: none;
}

.removed{
  display: inline-block;
}

.inactive:hover{
  border-bottom: 2px solid #D64C02;
  padding-bottom: 15px;
  text-decoration: none;
}

#left-arrow, #right-arrow{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: none;
  border-width: none;
  display: none;
  height: 22px;
  padding: 0;
  width: 22px;
  vertical-align: text-bottom;;
}

#left-arrow{
  background-image: url("images/left-arrow.svg");
  background-size: cover;
  margin-right: 30px;
}

#left-arrow:hover{
  background-image: url("images/left-arrow-hover.svg");
}

#right-arrow{
  background-image: url("images/right-arrow.svg");
  margin-left: 30px;
}

#right-arrow:hover{
  background-image: url("images/right-arrow-hover.svg");
}

/*-----**-Graphs------*/
.graphs{
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}


/*Button Stylings per Section*/
#totals, #applicants{
  display: block;
  font-size: 14px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: center;
}

.collapse{
  background-image: url("images/up-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  height: 30px;
  width: 30px;
}
.collapse:hover{
  background-color: #D64C02;
  background-image: url("images/up-arrow-hover.svg");
}

.circles, .bar-graph {
  margin-top: 35px;
}

/*-----***-Circles------*/
.circles{
  background-color: #ddd;
  display: inline-block;
  height: auto;
  margin-left: 40px;
  width: 65%;
}

.circle-design{
  background: #ddd;
  border-radius: 120px;
  border-style: solid;
  border-width: 8px;
  display: inline-block;
  height: 150px;
  margin: 0;
  padding: 0px;
	width: 150px;
}

.circle-align{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.circle-container{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.inner{
  left: 4%;
  position: relative;
  transform: rotate(45deg);
  top: 4%;
}

.inner h2{
  display: block;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 2px;
}

.inner p{
  display: block;
  font-size: 16px;
  margin-top: 2px;
}

#one, #two, #three{
  transform: rotate(-45deg);
}

#one {
  border-bottom-color: #bbb;
  border-left-color: #a3021a;
  border-right-color: #a3021a;
  border-top-color: #a3021a;
}

#two {
  border-bottom-color: #bbb;
  border-left-color: #026ba3;
  border-right-color: #bbb;
  border-top-color: #026ba3;
}

#three {
  border-bottom-color: #bbb;
  border-left-color: #6ba302;
  border-right-color: #bbb;
  border-top-color: #bbb;
  margin-right: 0px;
}

/*-----***-Bar Graphs------*/
.bar-graph{
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25%;
}
.bar-graph img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 95%;
}

/*----Collapse Graphs ------*/
.separate{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 85%;
}

/*-----**-bottom-Info------*/
.bottom-info{
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  height: auto;
  padding-bottom: 20px;
  width: 100%;
}

/*-----***-job-info------*/
.job-info{
  background-color: #ddd;
  display: inline-block;
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  width: 60%;
}

/*-----Heading and Table ------*/
.table-head{
  background-color: #4e4350;
  color: #ededed;
  text-align: left;
}
.table-head h3{
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-left: 30px;
}
.table-head button{
  background-color: #5f5450;
  border-radius: 0px;
  border-style: none;
  color: #ededed;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}

.table-head button:hover{
  background-color: #3e4350;
}

.table-head button img{
  margin-right: 5px;
  width: 23px;
  vertical-align: text-bottom;
}

.content{
  background-color: #ededed;
  text-align: left;
}

.content h3{
  display: inline-block;
  font-size: 11px;
  margin-left: 15px;
  text-align: left;
}

.content p{
  display: inline-block;
  text-align: left;
}
.content hr{
  display: block;
  width: 80%;
}

.table{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table{
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-color: #bbbbbb;
  border: solid;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.left-data, .right-data{
  font-size: 16px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: left;
  vertical-align: text-top;
}

.left-data{
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  width: 40%;
}

.right-data{
  padding-right: 5px;
  width: 60%;
}

/*-----***Contact------*/

.contact{
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 38%;
}

/*----Social Media ---*/

.social{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.socialmedia{
  border-radius: 0px;
  border-style: none;
  height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;

}
.socialmedia img{
  margin-left: 11px;
  margin-right: 11px;
  width: 25px;
  vertical-align: middle;
}

.footer hr{
  display: block;
  width: 90%;
}

#facebook{
  background-color: #3b5998;
  margin-top: 0px;
}

#facebook:hover{
  background-color: #476BB7;
}

#twitter{
  background-color: #00aced;
}

#twitter:hover{
  background-color: #00BBFF;
}

#linkedin{
  background-color: #007bb6;
}

#linkedin:hover{
  background-color: #0090D3;
}

.hide{
  color: #ededed;
  display: inline-block;;
  font-size: 19px;
  margin-left: 60px;
  vertical-align: center;
}

/*-----Methods for Contact -----*/

.forms{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.inputs{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: center;
}

.footer-input{
  background-color: #ededed;
  border-style: none;
  font-size: 12px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: auto;
  padding-left: 10px;
  width: 75%;
}

.footer-submit{
  background-color: #D64C02;
  border: none;
  border-radius: 0px;
  color: #ededed;
  display: inline-block;
  height: 40px;
  margin: 0px;
  width: 50px;
  vertical-align: middle;
}

.footer-submit:hover{
  background-color: #4e4350;
  color: #ededed;
}

.links{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.links h3{
  font-size: 18px;
  margin-bottom: 5px;
}

.links p{
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.links img{
  margin-right: 5px;
  width: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 1200px){


/*----Graph/Circles section styling-----*/
  .circles{
    width: 60%;
  }

  .circle-container{
    margin-left: 5px;
    margin-right: 5px;
  }

  .circle-design{
    height: 120px;
  	width: 120px;
  }

  .inner h2{
    font-size: 25px;
  }

  .inner p{
    font-size: 14px;
  }

  .bar-graph{
    margin-right: 15px;
    width: 30%;
  }
  .bar-graph img{
    width: 95%;
  }

/*----Lower Button styling-----*/
.hide{
  font-size: 14px;
  }
}

@media screen and (max-width: 951px){

  /*----General-----*/
  .body-content{
    width: 100%
  }
  .sidenav{
    display: none;
  }
}

@media screen and (max-width: 778px){

  /*----Heading Styling-----*/
  .heading{
    flex-direction: column;
  }

  .details{
    display: inline-block;
    margin-bottom: 10px;
  }
  .details h1{
    margin-top: 10px;
  }
  .details p{
    margin-bottom: 5px;
  }

  .buttons-box {
    display: inline-block;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
  }

  .heading button{
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    width: 35px;
  }

  .btn-icons{
    height: 40px;
    width: 40px;
  }

  #open{
    height: 35px;
    width: 70px;
  }

  /*----Middle Nav Styling-----*/

  .middle-nav{
    justify-content: center;
    margin-bottom: 10px;
  }

  .scroll-nav{
    display: flex;
  }

  .middle-nav ul{
    display: none;
  }

  .current{
    font-size: 16px;
  }

  .current:hover{
    border-bottom: none;
    padding: 0px;
  }

  #current-mobile{
    border-bottom: 2px solid #D64C02;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
  }

  #left-arrow, #right-arrow{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    border-width: none;
    display: inline-block;
    height: 30px;
    padding: 0;
    width: 30px;
    vertical-align: text-bottom;;
  }

  #left-arrow{
    background-image: url("images/left-arrow.svg");
    background-size: cover;
    margin-right: 40px;
  }

  #left-arrow:hover{
    background-image: url("images/left-arrow-hover.svg");
  }

  #right-arrow{
    background-image: url("images/right-arrow.svg");
    margin-left: 40px;
  }

  #right-arrow:hover{
    background-image: url("images/right-arrow-hover.svg");
  }

  .inactive {
    display: none;
  }

  .removed{
    display: none;
  }

    /*----Graphs and Lower -----*/

  .separate{
    align-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
  }

  .separate hr{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
  }

  hr {
    display: block;
    margin-top: 30px;
    width: 90%;
  }

  .graphs {
    flex-direction: column;
    text-align: center;
  }

  .circles {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .circle-design{
    height: 140px;
  	width: 140px;
  }

  .inner h2{
    font-size: 34px;
  }

  .inner p{
    font-size: 14px;
  }

  .bar-graph{
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    width: 100%;
  }

  .bar-graph img{
    width: 90%;
  }



  /*----Lower Job / Footer-----*/

  .bottom-info{
    flex-direction: column;
    width: 100%;
  }

  .job-info {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .contact {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .social{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .socialmedia{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .forms{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
@media screen and (max-width: 550px){
  /*--------Top Nav---------*/
  .topnav{
    height: 55px;
  }
  .search{
    flex: 1;
  }

  #find{
    background-image: url("images/searchnav.svg");
    display: block;
  }
  #find:hover{
    background-color: #D64C02;
    background-image: url("images/searchnav-hover.svg");
  }

  .topinput{
    display: none;
  }
  .top-icons{
    background-size: 25px;
  }

  /*--------Lower Job / Footer---------*/
  .details h1{
    font-size: 20px;
  }
  .details p{
    font-size: 13px;;
  }
  .details a{
    font-size: 13px;;
  }
  .circle-container{
    margin-bottom: 10px;
  }

  .table-head h3{
    font-size: 13px;
  }

  .table-head button{
    font-size: 13px;
  }

  .table-head button img{
    width: 15px;
  }
  .left-data, .right-data{
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: text-top;
    text-align: left;
  }

  .hide{
    display: none;
  }
  .social{
    text-align: center;
  }

  .socialmedia{
    display: inline-block;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    width: 60px;
  }
  .socialmedia img{
    width: 30px;
  }
}
